{% extends 'base.html' %}
{% block d3css %}
{% endblock %}
{% block scroll %}
{% endblock %}


{% block content %}
  <div id="main-display">
    <!-- Modal content for register form. -->
    <div id="register" class="modal">
        <div class="modal-content">
            <form action="/register" method="post" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_username_prefix" name="username" type="text" class="validate">
                  <label for="icon_username_prefix">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="icon_email_prefix" name="email" type="text" class="validate">
                  <label for="icon_email_prefix">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="icon_npw_prefix" name="password" type="password" class="validate">
                  <label for="icon_npw_prefix">Create your password</label>
                </div>
              </div>
              <input class="btn red accent-2" type="submit" value="Register">
            </form>
        </div>
    </div>
    <!-- Modal content for log in form. -->
    <div id="login" class="modal">
        <div class="modal-content">
            <form action="/login" method="post" class="">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_userlogin_prefix" type="text" name="login">
                    <label for="icon_userlogin_prefix">Login</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="icon_pw_prefix" type="password" name="password">
                    <label for="icon_pw_prefix">Password</label>
                  </div>
                </div>
                <input type="submit" class="btn red accent-2" value="Submit">
            </form>
        </div>
    </div>
    {% block nav %}
    <nav class="lighten-1 z-depth-0">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">
          <img id="logo-size" src="../static/css/images/binocular-big.svg">
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if logged_in %}
              <li>
                  <a href="/users/{{ user_id }}">
                      <i class="material-icons">
                        <img src="../static/css/images/account.png">
                      </i>
                  </a>
              </li>
              <li id="nav-bar"><a href="/logout">Log out</a></li>
          {% else %}
              <!-- Modal trigger for log in form. -->
              <li>
                <a class="model-trigger" href="#login">Log in</a>
              </li>
              <li>
                <!-- Modal trigger for register form. -->
                <a class="modal-trigger" href="#register">Register</a>
              </li>
          {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          {% if logged_in %}
              <li>
                  <a href="/users/{{ user_id }}">
                      <i class="material-icons">perm_identity</i>
                  </a>
              </li>
              <li><a href="/logout">Log out</a></li>
          {% else %}
              <!-- Modal trigger for log in form. -->
              <li>
                <a class="model-trigger" href="#login">Log in</a>
              </li>
              <li>
                <!-- Modal trigger for register form. -->
                <a class="modal-trigger" href="#register">Register</a>
              </li>
          {% endif %}
          <li>
              <a class="waves-effect waves-teal" href="/">
                  Home
              </a>    
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}

      <!-- movie names -->
    <div>
      <div class="carousel">
        <a class="carousel-item wes-initial-item" href="#">
          <img class="circle responsive-img" src="../static/css/images/profile_pic/m_wesanderson.jpg">
        </a>

        {% for movie in movie_list %}
          <a class="carousel-item wes-carousel-item" href="#" data-movie-id="{{ movie.id }}">
            <img class="circle responsive-img" src="../static/css/images/profile_pic/m_{{ movie.id }}.jpg">
          </a>
        {% endfor %}
      </div>

      <div class="row">
        <div id="overlay-parent" class="row">
          <div id="overlay" class="col s12 m12 l12">
            <!-- Dress -->
                    <div class="col s4 m2">
                        <div class="card hoverable">
                            <div class="card-image" >
                                <a href="#">
                                    <img class="materialboxed" src="../static/css/images/characters/zissou_steve_zissou.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Top -->
                    <div class="col s4 m2">
                      <div class="card hoverable">
                          <div class="card-image" >
                              <a href="#">
                                  <img class="materialboxed" src="../static/css/images/characters/hotel_ivan.png">
                              </a>
                          </div>
                      </div>
                    </div>
                    <div class="col s4 m2">
                      <div class="card">
                          <div class="card-image" >
                              <a href="#">
                                  <img class="materialboxed" src="../static/css/images/characters/rushmore_max_fischer.png">
                              </a>
                          </div>
                      </div>
                    </div>
                    <div class="col s4 m2">
                      <div class="card">
                          <div class="card-image" >
                              <a href="#">
                                  <img class="materialboxed" src="../static/css/images/characters/darjeeling_peter_whitman.png">
                              </a>
                          </div>
                      </div>
                    </div>
                    <div class="col s4 m2">
                      <div class="card">
                          <div class="card-image" >
                              <a href="#">
                                  <img class="materialboxed" src="../static/css/images/characters/fox_linda_otter.png">
                              </a>
                          </div>
                      </div>
                    </div>
                    <div class="col s4 m2">
                      <div class="card">
                          <div class="card-image" >
                              <a href="#">
                                  <img class="materialboxed" src="../static/css/images/characters/zissou_eleanor_zissou.png">
                              </a>
                          </div>
                      </div>
                    </div>
          </div>
        </div>
        <div class="row">
            <div class="col m3 l3"></div>
            <div class="col s12 m6 l6" id="btn-holder">
            </div>
            <div class="col m3 l3"></div>
        </div>
        <div class="row">
          <div class="col m4 l4"></div>
          <div class="col s12 m4 l4" id="btn-hider" style="display:none">
            <div class="col m2 l2"></div>
            <div class="col m8 l8">
          {% for movie in movie_list %}
              <button id="movie-{{ movie.id }}" class="waves-effect waves-teal btn movie-btn white" data-movie-name="{{ movie.name }}">
                  <span id="center-btn-text">{{ movie.name }}</span>
                  <div class="row">

                      {% for color in color_dict[ movie.name ] %}
                           <div class="chip" style="background-color: #{{color}}">
                           </div>
                      {% endfor %}       
                  </div>
              </button>
          {% endfor %}
            </div>
            <div class="col m2 l2"></div>
          </div>
          <div class="col m4 l4"></div>
        </div>

        <!-- preloading icon -->
        <div id="ensemble-loader" class="loader">
          <img id="ensemble-loader-icon" src="../static/css/images/binocular-big.svg">
        </div>

      	<!-- Display ensemble. -->
        <div class="row" id="display-ensemble">
              <div class="col s12 m12 l12">
                <!-- Ensemble -->
                <div class="row">
                    <!-- Dress -->
                    <div class="col s12 m2">
                        <div class="card hoverable ">
                            <div class="card-image" >
                                <a id="dress_listing" href="#">
                                    <img id="d_img" class="materialboxed" src="{{ d_img_url }}" alt="dress">
                                </a>
                                <div id="dress-loader" class="loader">
                                  <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                                </div>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Dress</span>

                                {% if user_id == 1 %}
                                    <form action="/blacklist" method='post'>
                                        <input type="hidden" name="key" value="{{ dress_listing }}">
                                        <input type="submit" name="bl" value="blacklist">
                                    </form>
                                {% endif %}
                                <a id="dress_link" class="right" href="{{ dress_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                                <!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                                <a class="right" id="dress_category" href="#"><i class="material-icons">shuffle</i></a>
                                <a class="chip" id="dress_color" style="width:25px;height:25px;background-color: #{{ dress_color }};"></a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Top -->
              			<div class="col s12 m2">
              				<div class="card hoverable ">
                          <div class="card-image" >
                              <a id="top_listing" href="#">
                                  <img id="t_img" class="materialboxed" src="{{ t_img_url }}" alt="top">
                              </a>
                              <div id="top-loader" class="loader">
                                  <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                              </div>
                          </div>
                					<div class="card-content">
                						<span class="card-title">Top</span>
                            {% if user_id == 1 %}
                                <form action="/blacklist" method='post'>
                                    <input type="hidden" name="key" value="{{ top_listing }}">
                                    <input type="submit" name="bl" value="blacklist">
                                </form>
                            {% endif %}
                						<a id="top_link" class="right" href="{{ top_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                						<!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                						<a class="right" id="top_category" href="#"><i class="material-icons">shuffle</i></a>
                	      				<a class="chip" id="top_color" style="width:25px;height:25px;background-color: #{{ top_color }};"></a>
                					</div>
              				</div>
              			</div>
                    <!-- Bottom -->
              			<div class="col s12 m2">
              				<div class="card hoverable ">
              					<div class="card-image" >
                                      <a id="bottom_listing" href="#">
                                          <img id="bo_img" class="materialboxed" src="{{ bo_img_url }}" alt="bottom">
                                      </a>
                                      <div id="bottom-loader" class="loader">
                                          <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                                      </div>
                                  </div>
              					<div class="card-content">
                          {% if user_id == 1 %}
                                    <form action="/blacklist" method='post'>
                                        <input type="hidden" name="key" value="{{ bottom_listing }}">
                                        <input type="submit" name="bl" value="blacklist">
                                    </form>
                                {% endif %}
                                      <span class="card-title">Bottom</span>
                                      <a id="bottom_link" class="right" href="{{ bottom_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                                      <!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                                      <a class="right" id="bottom_category" href="#"><i class="material-icons">shuffle</i></a>
                                      <a class="chip" id="bottom_color" style="width:25px;height:25px;background-color: #{{ bottom_color }};"></a>
                                  </div>
              				</div>
        			      </div>
                    <!-- Accessory -->
              			<div class="col s12 m2">
              				<div class="card hoverable ">
              					<div class="card-image" >
                                      <a id="accessory_listing" href="#">
                                          <img id="a_img" class="materialboxed" src="{{ a_img_url }}" alt="accessory">
                                      </a>
                                      <div id="accessory-loader" class="loader">
                                          <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                                      </div>
                                  </div>
              					<div class="card-content">
                          {% if user_id == 1 %}
                                    <form action="/blacklist" method='post'>
                                        <input type="hidden" name="key" value="{{ accessory_listing }}">
                                        <input type="submit" name="bl" value="blacklist">
                                    </form>
                                {% endif %}
                                      <span class="card-title">Accessory</span>
                                      <a id="accessory_link" class="right" href="{{ accessory_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                                      <!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                                      <a class="right" id="accessory_category" href="#"><i class="material-icons">shuffle</i></a>
                                      <a class="chip" id="accessory_color" style="width:25px;height:25px;background-color: #{{ accessory_color }};"></a>
                                  </div>
              				</div>
              			</div>
        	          <!-- Shoe -->
              			<div class="col s12 m2">
              				<div class="card hoverable ">
              					<div class="card-image">
                                      <a id="shoe_listing" href="#">
                                          <img id="s_img" class="materialboxed" src="{{ s_img_url }}" alt="shoe">
                                      </a>
                                      <div id="shoe-loader" class="loader">
                                          <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                                      </div>
                                  </div>
              					<div class="card-content">
                          {% if user_id == 1 %}
                                    <form action="/blacklist" method='post'>
                                        <input type="hidden" name="key" value="{{ shoe_listing }}">
                                        <input type="submit" name="bl" value="blacklist">
                                    </form>
                                {% endif %}
                                      <span class="card-title">Shoe</span>
                                      <a id="shoe_link" class="right" href="{{ shoe_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                                      <!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                                      <a class="right" id="shoe_category" href="#"><i class="material-icons">shuffle</i></a>
                                      <a class="chip" id="shoe_color" style="width:25px;height:25px;background-color: #{{ shoe_color }};"></a>
                                  </div>
              				</div>
              			</div>
                    <!-- Bag -->
              			<div class="col s12 m2">
              				<div class="card hoverable ">
              					<div class="card-image" >
                                      <a id="bag_listing" href="#">
                                          <img id="b_img" class="materialboxed" src="{{ b_img_url }}" alt="bag">
                                      </a>
                                      <div id="bag-loader" class="loader">
                                          <img class="loading-icon" src="../static/css/images/binocular-big.svg">
                                      </div>
                                  </div>
              					<div class="card-content">
                          {% if user_id == 1 %}
                                    <form action="/blacklist" method='post'>
                                        <input type="hidden" name="key" value="{{ bag_listing }}">
                                        <input type="submit" name="bl" value="blacklist">
                                    </form>
                                {% endif %}
                                      <span class="card-title">Bag</span>
                                      <a id="bag_link" class="right" href="{{ bag_listing }}" target="_blank"><i class="material-icons">open_in_new</i></a>
                                      <!-- <a class="right" href="#"><i class="material-icons">loyalty</i></a></a> -->
                                      <a class="right" id="bag_category" href="#"><i class="material-icons">shuffle</i></a>
                                      <a class="chip" id="bag_color" style="width:25px;height:25px;background-color: #{{ bag_color }};"></a>
                                  </div>
              				</div>
              			</div>
                </div>
              <div class="row">
                  <!-- Save button -->
                  <div class="col m4"></div>
                  <div class="col s12 m4 center">
                      <form id="save_ensemble" action="/ensembles" method="post">
                          {% if logged_in %}
                              <input onclick="Materialize.toast('Ensemble saved!', 1000)" class="btn waves-effect waves-light indigo lighten-1" type="submit" 
                              value="Save">

                          {% else %}
                              <input class="btn btn-secondary" type="submit" value="Save" disabled title="log in to save.">
                          {% endif %}
                          <input id="save-btn-movie-id" type="hidden" name="movie_id" value="{{ movie_id }}" >
                          <input id="save-btn-top-id" type="hidden" name="top_listing" value="{{ top_listing }}">
                          <input id="save-btn-bottom-id"type="hidden" name="bottom_listing" value="{{ bottom_listing }}">
                          <input id="save-btn-accessory-id" type="hidden" name="accessory_listing" value="{{ accessory_listing }}">
                          <input id="save-btn-shoe-id" type="hidden" name="shoe_listing" value="{{ shoe_listing }}">
                          <input id="save-btn-bag-id" type="hidden" name="bag_listing" value="{{ bag_listing }}">
                          <input id="save-btn-dress-id" type="hidden" name="dress_listing" value="{{ dress_listing }}">
                          <input id="save-btn-t-img-id" type="hidden" name="t_img_url" value="{{ t_img_url }}">                          
                          <input id="save-btn-a-img-id" type="hidden" name="a_img_url" value="{{ a_img_url }}">                          
                          <input id="save-btn-bo-img-id" type="hidden" name="bo_img_url" value="{{ bo_img_url }}">                            
                          <input id="save-btn-b-img-id" type="hidden" name="b_img_url" value="{{ b_img_url }}">                          
                          <input id="save-btn-s-img-id" type="hidden" name="s_img_url" value="{{ s_img_url }}">
                          <input id="save-btn-d-img-id" type="hidden" name="d_img_url" value="{{ d_img_url }}">              
                      </form>
                  </div>
                  <div class="col m4"></div>

              </div>
            </div>
        </div>
      </div>
    	<br>
    </div>
  </div>

{% endblock %}

