* {
  font-family: 'Roboto', sans-serif;
  color: black;
}


#logo-size {
  width:2em;
  height:2em;
}

#ww-slogan-page {
  height:100vh;
  background-color: #009688;
  background-size: cover;
}

#ww-slogan {
  position: relative;
  padding: 2em;
  top:10em;
}


/* ensemble overlay when no movie selected */
#overlay-parent {
  display:inline-block;
  position:absolute;
  height:30em;
  width:100%;
}

#overlay {
  display:inline-block;
  position:absolute;
  height:100%;
}

/* slogan animation */
svg .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear normal infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#ensemble{
  margin-top:-4em;
}

.usr_small {
  height:150px !important;
  overflow: hidden !important;
}

#usr-ensemble {
  border-bottom: none;
}

#display-ensemble {
  display:none;
}
/* wall picture frame */
.customized-margin {
  margin:15px 0 0 15px !important;
}


#usr_info li{
  display: inline-block;
}

#points-btn li {
  padding:0;
  border-radius: 10px;
}

#center-btn-text {
  color: black;
}


/*#m1 {
  border-radius: 10px;
  height:340px;
  background-image: url('images/posters/moonrise_1.jpg');
  background-size: cover;
}

#m2 {
  border-radius: 10px;
  height: 150px;
  width: 120px;
  background-image: url('images/posters/moonrise_3.jpg');
  background-size: cover;
  background-position: center;
}

#m3 {
  border-radius: 10px;
  height: 150px;
  width: 130px;
  background-image: url('images/posters/moonrise_6.jpg');
  background-size: cover;
  background-position: bottom;

}

#m4 {
  border-radius: 10px;
  height:140px;
  width: 280px;
  background-image: url('images/posters/moonrise_7.jpg');
  background-size: cover;
  background-position: center;
}

#m5 {
  height:200px;
  background-image: url('images/posters/moonrise_4.jpg');
  background-size: 110%;
  background-position: center;
}


#m6 {
  border-radius: 10px;
  height: 280px;
  background-image: url('images/posters/moonrise_8.jpg');
  background-size: cover;
  background-position: bottom;
}

#m7 {
  border-radius: 10px;
  height: 160px;
  width: 240px;
  background-image: url('images/posters/moonrise_5.jpg');
  background-size: cover;
  background-position: bottom;
}*/


@media only screen and (max-width: 1000px) and (min-width:768) {

}


@media only screen and (max-width: 480px) {
    
}

