/* materilize css */
.usr_small {
  height:150px !important;
  overflow: hidden !important;
}

/*#dress_height {
  height: 20em !important;
}*/

.btn-position {
  bottom: 100px !important;
}


/* wall picture frame */
.customized-margin {
  margin:15px 0 0 15px !important;
}

.carousel-item {
  
}

#m1 {
  border-radius: 10px;
  height:340px;
  background-image: url('images/posters/moonrise_1.jpg');
  background-size: cover;
}

#m2 {
  border-radius: 10px;
  height: 150px;
  width: 120px;
  background-image: url('images/posters/moonrise_3.jpg');
  background-size: cover;
  background-position: center;
}

#m3 {
  border-radius: 10px;
  height: 150px;
  width: 130px;
  background-image: url('images/posters/moonrise_6.jpg');
  background-size: cover;
  background-position: bottom;

}

#m4 {
  border-radius: 10px;
  height:140px;
  width: 280px;
  background-image: url('images/posters/moonrise_7.jpg');
  background-size: cover;
  background-position: center;
}

#m5 {
  height:200px;
  background-image: url('images/posters/moonrise_4.jpg');
  background-size: 110%;
  background-position: center;
}


#m6 {
  border-radius: 10px;
  height: 280px;
  background-image: url('images/posters/moonrise_8.jpg');
  background-size: cover;
  background-position: bottom;
}

#m7 {
  border-radius: 10px;
  height: 160px;
  width: 240px;
  background-image: url('images/posters/moonrise_5.jpg');
  background-size: cover;
  background-position: bottom;
}


#save-btn, #change-btn {
  margin:1em;
  width: 8em;
}

#wardrobe {
  display: inline-block;
  position: relative;
  z-index: 1;
}

#door {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid black 3px;
}

#left-door {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:50%;
  z-index: 10;
  opacity: 1;
  border: solid black 5px;
}

#right-door {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 3;
  opacity: 1;
  border: solid orange 5px;
}

.loader {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 3;
  text-align: center;
  padding: 50% 0 50% 0;
  color: white;
  display: none;
}


@media only screen and (max-width: 1000px) and (min-width:768) {

}


@media only screen and (max-width: 480px) {
    
}

