{% extends 'base.html' %}
{% block body %}

	<!-- Display movie dropdown menu. -->
	<form action="/">
		<select class="custom-select" name="movie_name">
			<option selected>Open this select menu</option>
    		<option value="Moonrise Kingdom">Moonrise Kingdom</option>
		    <option value="The Grand Budapest Hotel">The Grand Budapest Hotel</option>
		    <option value="The Royal Tenenbaums">The Royal Tenenbaums</option>
		    <option value="Castello Cavalcanti">Castello Cavalcanti</option>
		    <option value="Hotel Chevalier">Hotel Chevalier</option>
		    <option value="The Life Aquatic with Steve Zissou">The Life Aquatic with Steve Zissou</option>
		    <option value="Fantastic Mr. Fox">Fantastic Mr. Fox</option>
		    <option value="Rushmore">Rushmore</option>
		    <option value="Bottle Rocket">Bottle Rocket</option>
  		</select>
  		<input class="btn btn-primary" type="submit">
	</form>
	
	<br>
	<!-- Display ensemble. -->
	<div class='container'>
		<div class="card-columns col-lg-10">
			<div class="card">
				<a href="{{ top_listing }}"><img class="img-fluid" src="{{ t_img_url }}" alt="top"></a>
				<div class="card-block">
	      			<h4 class="card-title">Card title</h4>
	      			<p class="card-text">card description</p>
	    		</div>
			</div>

			<div class="card">
				<a href="{{ bottom_listing }}"><img class="img-fluid" src="{{ bo_img_url }}" alt="top"></a>
				<div class="card-block">
	      			<h4 class="card-title">Card title</h4>
	      			<p class="card-text">card description</p>
	    		</div>
			</div>

			<div class="card">
				<a href="{{ accessory_listing }}"><img class="img-fluid" src="{{ a_img_url }}" alt="accessory"></a>
				<div class="card-block">
	      			<h4 class="card-title">Card title</h4>
	      			<p class="card-text">card description</p>
	    		</div>
			</div>

			<div class="card">
				<a href="{{ shoe_listing }}"><img class="img-fluid" src="{{ s_img_url }}" alt="shoe"></a>
				<div class="card-block">
	      			<h4 class="card-title">Card title</h4>
	      			<p class="card-text">card description</p>
	    		</div>
			</div>

			<div class="card">
				<a href="{{ bag_listing }}"><img class="img-fluid" src="{{ b_img_url }}" alt="bag"></a>
				<div class="card-block">
	      			<h4 class="card-title">Card title</h4>
	      			<p class="card-text">card description</p>
	    		</div>
			</div>
			
		</div>
	</div>
	<br>
	<!-- Display change set button and save to wishlist button. -->
	<div>
		<form>
			<button>Change</button>
			<button>Save</button>
		</form>
	</div>

{% endblock %}


