{% extends 'base.html' %}
{% block body %}

<div>
    <div>
        <h2>Please log in</h2><br>
        <form action="/login" method="post" class="">
            <div class="form-group">
              <input type="text" name="login" placeholder="Username or e-mail">
              <input name="password" placeholder="Password" title="" type="password" required="">
            </div>
            <input type="submit" class="btn btn-default" value="Submit">
        </form>
    </div>
</div>


{% endblock %}