{% extends 'base.html' %}
{% block body %}


<div>
    <div>
        <h2>Welcome to Wesworld</h2><br>
        <form action="/register" method="post">
            <input name="username" type="text" required="" placeholder="Username" pattern="[^@]+"><br>
            <input name="email" type="text" required="" placeholder="Email" pattern=".+@.+\..+"><br>
            <input name="password" type="password" required="" placeholder="Create a password"><br><br>
            <input type=submit value="Register">
        </form>
    </div>
</div>


{% endblock %}