{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="">
        <p>Your Name: {{ username }}</p>
        <p>Your Email: {{ email }}</p>
    </div>
    <h2>Your Saved Ensemble</h2>

    <form action="/logout">
            <button type="submit">Log Out</button>
        </form>

        <form action="/search">
            <button type="submit">Homepage</button>
        </form>

    <div class="card-columns col-lg-6">
        <div id="saved_ensemble">
            {% for ensemble in ensembles %}
                <div class="card">
                    <a href="{{ ensemble.accessory_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.accessory_img_url }}"></a>
                </div>
                <div class="card">
                    <a href="{{ ensemble.top_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.top_img_url }}"></a>
                </div>
                <div class="card">
                    <a href="{{ ensemble.bottom_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.bottom_img_url }}"></a>
                </div>
                <div class="card">
                    <a href="{{ ensemble.shoe_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.shoe_img_url }}"></a>
                </div>
                <div class="card">
                    <a href="{{ ensemble.dress_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.dress_img_url }}"></a>
                </div>
                <div class="card">
                    <a href="{{ ensemble.bag_url }}"><img class="img-fluid img-rounded" src="{{ ensemble.bag_img_url }}"></a>
                </div>
            {% endfor %}    
        </div>
    </div>

</div>

{% endblock %}